header{
    background-color: black;
    color: blanchedalmond;
    padding: 25px;
    font-size: 20px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: blue;
}
main {
    padding: 0px 20px 0px 20px; 
}
h1 {
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#titulo-1 {
    color: #273746;
}

.p {

}
.wb {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
}
